*.o
src/xlxd
ambed/ambed
ambedtest/ambedtest
debian/.debhelper/
debian/ambed.postrm.debhelper
debian/ambed.substvars
debian/ambed/
debian/ambedwatchdog.postrm.debhelper
debian/ambedwatchdog.substvars
debian/ambedwatchdog/
debian/debhelper-build-stamp
debian/files
debian/tmp/
debian/xlxapi-update.postrm.debhelper
debian/xlxapi-update.substvars
debian/xlxapi-update/
debian/xlxd-dashboard.substvars
debian/xlxd-dashboard/
debian/xlxd-dashboard2.substvars
debian/xlxd-dashboard2/
debian/xlxd.postrm.debhelper
debian/xlxd.substvars
debian/xlxd/
