#########################################################################################
#  XLXD config file
#
#  one line per entry
#  each entry specifies an option
#
#########################################################################################
# the reflector callsign - default N0CALL
callsign N0CALL

# listening IP address - default 0.0.0.0
listen 0.0.0.0

# AMBE transcoder IP address - default 127.0.0.1
transcoder 127.0.0.1

# XLXD listening IP address for transcoder - default 0.0.0.0
transListen 0.0.0.0

# Default module for ysf (A-Z, 0 to disable) - default 0
moduleYSF 0
